@font-face {
	font-family: "Inconsolata";
	src: url("fonts/Inconsolata-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Inconsolata";
	src: url("fonts/Inconsolata-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

html {
	font-family: "Inconsolata", monospace;
	font-size: 10px;
}

body {
	margin: 0;
}

header {
	height: 100px;
	min-height: 80px;
	background-color: rgb(7, 13, 32);
	width: 100%;
}

header a {
	height: 97px;
	display: block;
	outline: none;
}

header a:focus,
header a:hover,
header a:active {
	text-decoration: none;
	color: white;
}

header a:visited {
	color: white;
}

main {
	display: inline-block;
	padding-left: 1.5%;
	padding-right: 1.5%;
	width: 60%;
	background-color: rgb(239, 239, 239);
}

h1 {
	margin: 0 0 0 1%;
	font-size: 7rem;
	line-height: 7rem;
	width: 180px;
	min-width: 180px;
	text-align: center;
	text-transform: uppercase;
	color: white;
	text-shadow: 2px 2px 0 black,
				-1px -1px 0 black;
}

#nav-main-container {
	margin-top: 15px;
}

a {
	text-decoration: none;
}

a:visited {
	color: blue;
}

a:focus,
a:hover,
a:active {
	text-decoration: underline;
}

nav {
	display: inline-block;
	vertical-align: top;
	width: 15%;
	min-width: 265px;
}

nav > ul {
	font-size: 2.2rem;
	list-style-type: none;
	padding: 0;
	margin-top: 0;
}

nav a:visited {
	color: black;
}

nav a:hover,
nav a:active,
nav a:focus {
	text-decoration: none;
}

nav a:hover {
	color: white;
}

nav li {
	color: black;
	background-color: rgb(78, 171, 202);
	display: block;
}

nav > ul > li:hover {
	background-color: rgb(7, 13, 32);
}

nav > ul > li:active {
	color: white;
}

nav a {
	outline: none;
	text-decoration: none;
	display: block;
	padding-left: 5%;
	height: 3.3rem;
	line-height: 3.3rem;
	margin-bottom: 1.5%;
}

nav li:last-child a {
	margin-bottom: 0;
}

aside {
	font-size: 1.8rem;
}

/* code segment styling */

.code {
	padding: 1% 1.5% 1% 1.5%;
	border: 1.2px dashed rgba(50, 23, 0, 0.5);
	border-left: 5px solid rgb(50, 23, 0);
	background-color: rgba(0, 219, 84, 0.2);
	margin: 0;
}

.code-keyword {
	color: rgb(147, 130, 0);
}

.string-literal {
	color: purple;
}

/* end of code segment styling */

