html {
	font-family: "Inconsolata", monospace;
	font-size: 10px;
}

body {
	margin: 0;
}

header {
	width: 100%;
	border-bottom: 1px solid black;
}

h1 {
	margin: 0;
	font-size: 5rem;
	letter-spacing: -2px;
	text-transform: uppercase;
	color: white;
}

main {
	display: inline-block;
	padding-left: 1.5%;
	font-size: 1.5rem;
}

a {
	text-decoration: none;
}

a:visited {
	color: blue;
}

a:focus,
a:hover,
a:active {
	text-decoration: underline;
}
